/* Шрифты */
@font-face {
    font-family: "3952";
    src: url('../fonts/3952.ttf');
}

/* Основной шаблон */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background: #1D2B52;
}

.sorting h1 {
    color: #00ff00;
    font-family: "3952", sans-serif;
    font-size: 90px;
    background: rgba(108,117,125, 0.8);
    border-radius: 5px;
}

#sorting-title {
    color: whitesmoke;
    margin-right: 30px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

footer{
    background: darkkhaki;
    padding: 10px 20px 0px 20px;
}

#logo{
    width: 55px;
    height: 55px;
    float: left;
    background: url('../img/marker.png') no-repeat;
    background-size: contain;
}

#companyName{
    font-family: "3952", sans-serif;
    float: left;
    margin-left: -10px;
    margin-right: 30px;
    font-size: 22px;
    line-height: 50px;
    color: #00ff00;
}

.content{
    flex-grow: 1; /* прижимаем footer к низу страницы*/
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Главная страница */
.row{
    margin-bottom: -20px;
}

.row div{
    padding: 5px 10px;
}

.row a{
    text-decoration: none;
}

.card{
    background: rgba(108,117,125, 0.8);
    margin-bottom: 30px;
}

.card-body{
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card img{
    position: relative;
    left: 90%;
    margin: 5px;
    width: 10%;
}

.card-title{
    font-family: "3952", sans-serif;
    color: #00ff00;
}


.card:hover{
    background: rgba(108,117,125, 0.9);
    position: relative;
    top: -4px;
}

@media screen and (max-width: 500px){
    .banner .welcome h2{
       font-size: 25px;
    }
}

::-moz-selection{background: #19ff19; color: #000;}
::webkit-selection{background: #19ff19; color: #000;}
::selection{background: #19ff19; color: #000;}